<div class="container">
  <div class="row">
    <div class="col-xs-6 user-average-score">
      <p class="p-average">AVERAGE SCORE</p>
    </div>
    <div class="col-xs-6 user-average-score">
      <p class="p-average">AVERAGE PUTT</p>
      <p class="average-putt"></p>
    </div>
    
  </div>
</div>
