<div class="container">
  <h3 class="about-title">EnjoyGolf<i class="fas fa-golf-ball"></i></h3>
  <div class="about-text">
    <p class="">EnjoyGolfはゴルフのスコアを管理できるアプリです<i class="fas fa-golf-ball"></i></p>
    <p>スコアの管理、過去のスコアやコース情報、メンバーなどを確認する事ができます。<br>
       また、コース検索で事前に次に行くコースの情報を確認することもできます。<br>
       EnjoyGolfを使って楽しいゴルフ人生を！！</p>
  </div>
</div>
