<div class="container">
  <h3 class="about-title">EnjoyGolf<i class="fas fa-golf-ball"></i></h3>
  <div class="about-text">
    <p class="">EnjoyGolfはゴルフのスコアを管理できるアプリです<i class="fas fa-golf-ball"></i></p>
  </div>
</div>
