<div class="container">
  <div class="top-main">
    <h1 class="title">EnjoyGolf</h1>
  </div>
  </div>
  <div class="top-button">
    <div class="login-button">
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary' %>
    </div>
    <div class="sign-up-button">
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
