// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
  height: 100px;
  vertical-align: middle;
}

.score {
  display: flex;
}

.course-text, .play-text {
  display: flex;
}

.course-info, .play-info {
  font-size: 20px;
}

.score-form input {
  width: 65px;
}

.score-form {
  display: flex;
  margin-left: 10%;
  width: 108%;
}

.latter-half {
  margin-left: 10%;
}

.memo-info {
  display: flex;
  justify-content: center;
  margin: auto 20px;
}

.memo-info textarea {
  width: 60%;
  height: 140px;
}

.memo-info label {
  margin: auto 20px;
}

.total-score {
  text-align: center;
}
.total-score input {
  width: 65px;
}

.round-memo {
  width: 70%;
    height: 151px;
    border: solid 1px;
    margin: 1% auto;
}
