// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-show {
  background-color: #AEFFBD;
}

.user-average-score {
  display: flex;
  margin: 0 auto;
}

.p-average {
  font-size: 20px;
  margin-top: 50px;
}

.score-chart {
  width: 300px;
}

.user-name {
  font-size: 50px;
  text-align: center;
}

.profile-btn {
  text-align: right;
}

.user-record-show {
  margin-top: 3%;
}

.score-index {
  font-size: 25px;
  text-align: center;
  margin-bottom: 3%;
}

.score-link {
  text-align: center;
  font-size: 20px;
}

.score-link a {
  color: #00AA00;
}

.user-edit {
  text-align: center;
  margin-top: 5%;
}
