// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-average-score {
  display: flex;
  margin: 0 auto;
}

.p-average {
  font-size: 20px;
  margin-top: 50px;
}
